<section class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row">
        <div class="col-6">
            <img src="{{Employee_image}}" alt="employee image" class="img-fluid">
        </div>
        <div class="col-6">
            <p>An example of how to use the id on the router.</p>
            <p>A small thing I did is that there is a table of employees and there is an option to add an employee.
                If you took to the EmployeesTable you can see the existing employees and there is also the option to click on the id and it takes you to a single page that shows the Employee details.
                If you want to add employees, go to add employee, fill in the details and it adds
            </p>
        </div>
    </div>
</section>
